* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;

    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: #FFFEF2;

}

nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(27, 24, 33, 0.82);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.3px);
    -webkit-backdrop-filter: blur(13.3px);
    padding: 1rem;
    z-index: 4;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            list-style: none;

            h1, a {
                font-size: 1rem;
                text-decoration: none;
                color: #FFFAE5;
                text-transform: capitalize;
            }

            a {
                padding: 0 0.5rem
            }
        }
    }

}
.hidden {
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide-in {
    opacity: 1;
    transform: translateX(0);
}

.nav-slide-in {
    opacity: 1;
    transform: translateY(0);
}

.nav-hidden {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

section{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
        color: #8e8e8e;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        gap: 1rem;
        flex-wrap: wrap;

        li{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: #df9f3d;
            color: #fcfae8;
            border-radius: 0.5rem;


            img{
                width: 20rem;
                height: 20rem;
                object-fit: cover;
                border-top-right-radius: 0.5rem;
                border-top-left-radius: 0.5rem;
            }
        }
    }
}

section >  h2 {
    color: #070600;
    font-size: 3rem;
}
main article{
    display: flex;
    min-height: 70vh;
    min-width: 100vw;
    flex-direction: row;
    padding: 2rem 10rem;
    background-color: #532200;
    color: #EFCFA0;
    flex-wrap: wrap;

    h1{
        color: #E1A140;
        font-size: 3rem;
    }
    .text{
        max-width: 40vw;
    }
    img{
        max-width: 60vw;
        max-height: 60vh;
        object-fit: cover;
    }
}

footer {
    min-height: 25vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #091235;
    position: relative;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
            list-style: none;

            a, h2 {
                color: #88A9C3;
                text-decoration: none;
            }

            h2 {
                font-style: italic;
                font-size: 2rem;
            }

            ul {
                position: absolute;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                bottom: 1rem;
                left: 0;
                border-top: 1px #FDFFFF solid;
                padding-top: 10px;

                li {
                    list-style: none;

                    h1, a {
                        font-size: 1rem;
                        text-decoration: none;
                        color: #FFFAE5;
                        text-transform: capitalize;
                    }

                    a {
                        padding: 0 0.5rem
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    main article{
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:0;

        .text, img{
            max-width: 100vw;
        }
        .text{
            padding: 1rem;
        }
    }
}