* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;

    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(27, 24, 33, 0.82);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.3px);
    -webkit-backdrop-filter: blur(13.3px);
    padding: 1rem;
    z-index: 4;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            list-style: none;

            h1, a {
                font-size: 1rem;
                text-decoration: none;
                color: #FFFAE5;
                text-transform: capitalize;
            }

            a {
                padding: 0 0.5rem
            }
        }
    }
}

article {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.1rem;

    .textBox, img {
        flex: 1;
    }

    img {
        max-height: 100vh;
        min-width: 50vw;
        object-fit: cover;
    }

    .textBox {
        padding-left: 2rem;
        padding-top: 2rem;
        min-width: 50vw;

        h1 {
            font-size: 4rem;
        }

        p {
            font-size: 1.5rem;
            padding-top: 1rem;
        }

    }
}

@media screen and (max-width: 1000px) {
    article {
        flex-direction: column;

        .textBox {
            max-width: 100vw;
            padding: 2rem;
        }
    }
}